@import url("https://rsms.me/inter/inter.css");

html,
body,
#root {
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
  outline: none;
  width: 100vw;
  height: 100vh;
}

body {
  background: white;
  font-family: "Inter var", sans-serif;
  display: flex;
  justify-content: center;
}

#root {
  width: 76ch;
}

h1 {
  padding: 0;
  font-size: 90px;
  color: #272730;
  margin: 0px;
  margin-left: 15px;
  cursor: pointer;
}

h1:hover {
  text-decoration: line-through;
}

.picker {
  width: 180px !important;
  height: 180px !important;
  margin-left: 15px;
}

.mint {
  background-color: #272730;
  color: #fff;
  font-size: 70px;
}

.mint:hover {
  font-size: 80px;
}

.customize {
  text-decoration: line-through;
  cursor: pointer;
  font-size: 90px;
}

.customize:hover {
  text-decoration: none;
}

.cryptosneaker:hover {
  text-decoration: line-through;
}

* {
  user-select: none;
}
